{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Classificação de Risco</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-4">

<div class="card shadow">

<div class="card-header bg-danger text-white">

<h3 class="mb-0">
Classificação de Risco
</h3>

</div>

<div class="card-body">

<div class="alert alert-info">

<strong>Paciente:</strong>

{{ acolhimento.nome_paciente }}
<div class="card border-primary mb-4">

    <div class="card-header bg-primary text-white">

        <strong>Sinais Vitais do Acolhimento</strong>

    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-4">
                <strong>PA:</strong>
                {{ acolhimento.pressao_arterial|default:"-" }}
            </div>

            <div class="col-md-4">
                <strong>Temperatura:</strong>
                {{ acolhimento.temperatura|default:"-" }} °C
            </div>

            <div class="col-md-4">
                <strong>Pulso:</strong>
                {{ acolhimento.pulso|default:"-" }} bpm
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-md-4">
                <strong>FR:</strong>
                {{ acolhimento.frequencia_respiratoria|default:"-" }}
            </div>

            <div class="col-md-4">
                <strong>Dor:</strong>
                {{ acolhimento.dor|default:"-" }}/10
            </div>

            <div class="col-md-4">
                <strong>Tipo:</strong>
                {{ acolhimento.tipo_atendimento }}
            </div>

        </div>

    </div>

</div>
<br>

<strong>BAM:</strong>

{{ acolhimento.numero_bam }}

<br>

<strong>CPF:</strong>

{{ acolhimento.cpf }}

</div>

<form method="post">

{% csrf_token %}

<h5 class="text-primary">
Queixa Principal
</h5>

<hr>

<div class="mb-3">

<label>Queixa Principal</label>

{{ form.queixa_principal }}

</div>



<hr>

<div class="mb-3">

<h5 class="text-danger">

Protocolo de Manchester

</h5>

<hr>

<div class="row g-3">

    <div class="col-md-4">

        <label class="card border-danger shadow-sm p-3 h-100">

            <input type="radio"
                   name="cor"
                   value="VERMELHO"
                   class="form-check-input mb-2">

            <h4 class="text-danger">

                🔴 Vermelho

            </h4>

            Emergência

            <br>

            Atendimento imediato

        </label>

    </div>

    <div class="col-md-4">

        <label class="card border-warning shadow-sm p-3 h-100">

            <input type="radio"
                   name="cor"
                   value="LARANJA"
                   class="form-check-input mb-2">

            <h4 style="color:orange;">

                🟠 Laranja

            </h4>

            Muito Urgente

            <br>

            Até 10 minutos

        </label>

    </div>

    <div class="col-md-4">

        <label class="card border-warning shadow-sm p-3 h-100">

            <input type="radio"
                   name="cor"
                   value="AMARELO"
                   class="form-check-input mb-2">

            <h4 class="text-warning">

                🟡 Amarelo

            </h4>

            Urgente

            <br>

            Até 60 minutos

        </label>

    </div>

    <div class="col-md-6">

        <label class="card border-success shadow-sm p-3 h-100">

            <input type="radio"
                   name="cor"
                   value="VERDE"
                   class="form-check-input mb-2">

            <h4 class="text-success">

                🟢 Verde

            </h4>

            Pouco Urgente

            <br>

            Até 120 minutos

        </label>

    </div>

    <div class="col-md-6">

        <label class="card border-primary shadow-sm p-3 h-100">

            <input type="radio"
                   name="cor"
                   value="AZUL"
                   class="form-check-input mb-2">

            <h4 class="text-primary">

                🔵 Azul

            </h4>

            Não Urgente

            <br>

            Até 240 minutos

        </label>

    </div>

</div>
<div class="alert alert-secondary mt-4">

    <strong>

        Tempo máximo de espera:

    </strong>

    <span id="tempoEspera">

        Selecione uma classificação.

    </span>

</div>
</div>

<h5 class="text-success mt-4">

Avaliação Clínica

</h5>

<hr>

<div class="row">

<div class="col-md-3 mb-3">

<label>Peso</label>

{{ form.peso }}

</div>

<div class="col-md-3 mb-3">

<label>Altura</label>

{{ form.altura }}

</div>

<div class="col-md-3 mb-3">

<label>Glicemia</label>

{{ form.glicemia }}

</div>

<div class="col-md-3 mb-3">

<label>Saturação</label>

{{ form.saturacao }}

</div>

</div>

<h5 class="text-secondary mt-4">

Observações

</h5>

<hr>

<div class="mb-3">

{{ form.observacoes }}

</div>

<button class="btn btn-danger btn-lg">

Salvar Classificação


</button>

</form>

</div>

</div>

</div>
<script>

const radios = document.querySelectorAll('input[name="cor"]');

const tempo = document.getElementById("tempoEspera");

radios.forEach(radio => {

    radio.addEventListener("change", function(){

        switch(this.value){

            case "VERMELHO":
                tempo.innerHTML = "<strong class='text-danger'>Imediato</strong>";
                break;

            case "LARANJA":
                tempo.innerHTML = "<strong style='color:orange'>10 minutos</strong>";
                break;

            case "AMARELO":
                tempo.innerHTML = "<strong class='text-warning'>60 minutos</strong>";
                break;

            case "VERDE":
                tempo.innerHTML = "<strong class='text-success'>120 minutos</strong>";
                break;

            case "AZUL":
                tempo.innerHTML = "<strong class='text-primary'>240 minutos</strong>";
                break;

        }

    });

});

</script>
</body>

</html>